<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="coursesService" class="ru.itis.servlets.services.CoursesServiceImpl">
        <constructor-arg name="coursesRepository" ref="coursesRepository"/>
    </bean>

    <bean id="coursesRepository" class="ru.itis.servlets.repositories.CoursesRepositoryJdbcTemplateImpl">
        <constructor-arg name="template" ref="jdbcTemplate"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg name="dataSource" ref="hikariDataSource"/>
    </bean>

    <bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="postgres"/>
        <property name="password" value="qwerty007"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/education_center"/>
    </bean>

    <bean id="hikariDataSource" class="com.zaxxer.hikari.HikariDataSource">
        <constructor-arg name="configuration" ref="hikariConfig"/>
    </bean>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="password" value="qwerty007"/>
        <property name="username" value="postgres"/>
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/education_center"/>
    </bean>
</beans>